{
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^react(-*)$",
    "<THIRD_PARTY_MODULES>",
    "@app$",
    "@app/$",
    "^@assets$",
    "^@assets/$",
    "^@styles/$",
    "^@api$",
    "^@api/$",
    "^@client$",
    "^@client/$",
    "^@components$",
    "^@components/$",
    "^@layouts",
    "^@layouts/$",
    "^@hooks",
    "^@hooks/",
    "^@pages$",
    "^@pages/$",
    "^@ui$",
    "^@ui/$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
